# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.sqlite

# Virtual environments
venv/
ENV/
env/
.venv/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and runtime files
*.log
*.tmp
*.bak

# System files
.DS_Store
Thumbs.db

dataset/
models/
combined_dataset.csv
*.pkl
*.pcap
*.pcap_ISCX.csv